.chat {
    display: block;
    height: 1050px;
    width: 1000px;
    max-width: 50%;
    background-color: #0f131c;
    z-index: 1;
}

#chat__area {
    height: 980px;
    width: 1000px;
    display: block;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 1;
}

#chat-message-input {
    display: inline;
    width: 85%;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 100;
    color: #191f2b;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
    border-radius: 30px;
}


#chat-message-submit {
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.chat__message {
    display: block;
    width: 400px;
    min-height: 60px;
    background-color: #191f2b;
    padding: 15px;
    color: #ffffff;
    border: white 1px solid;
    border-radius: 30px;
    font-size: 20px;
    margin: 20px 30px;
    word-break: break-all;
    overflow: hidden;
}


.message__author {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
    color: #9a1c6c;
}