body{
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.fields{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

#game__area {
    display: block;
    height: 1000px;
    width: 1000px;
    background-color: #0f131c;
    margin-right: 20px;
}

.field{
    height: 400px;
    width: 400px;
    margin: 0px 20px;
    background-color: cornsilk;
    border: 1px black solid;
}

.cell {
    width: 35px;
    height: 35px;
    background-color: cadetblue;
}

.empty__shoted{
    background-color: gray;
}

.ship__not__shoted{
    background-color: lightgoldenrodyellow;
}
.ship__shoted{
    background-color: darkred;
}
.ship__dead{
    background-color: black;
}

.info{
    width: 960px;
    height: 540px;
    display: flex;
    margin: 20px;
    background-color: #f9f6f5;
}

.ships{
    display: block;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.ship{
    /*display: inline-block;*/
    margin: 10px;
}

table td {
    border-collapse: collapse;
    border: 1px solid black;
}

