{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'game/game.css' %}">
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
    <!-- CSS only -->
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">#}
</head>
<body>
<div class="container">
    <div id="game__area">
        <div class="fields">
            <table id="my_field" class="field">
            </table>

            <table id="enemy_field" class="field">
            </table>
        </div>
        <div id="info" class="info">
            <div id="ships" class="ships">

            </div>
            <div id="messages">

            </div>
        </div>
    </div>
    <div class="chat">
        <div id="chat__area">

        </div>
        <input id="chat-message-input" type="text" style="width: 99%">
        <input id="chat-message-submit" class="btn btn-dark" type="button" value="Send">
    </div>
</div>
{{ room_name|json_script:"room-name" }}
<script>


    const ws = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/game/'
    );

    ws.onopen = function (e) {
        ws.send(JSON.stringify({
            'commands': ['fetch_messages']
        }))
    }

    ws.onmessage = function (e) {
        const chatArea = document.getElementById("chat__area");
        const gameArea = document.getElementById("game");
        const data = JSON.parse(e.data);

        switch (data['command']) {
            case 'error':
                alert(data['message']);
                break;

            case 'messages':
                for (let i = 0; i < data['messages'].length; i++) {
                    chatArea.innerHTML += '<div class="chat__message">' +
                        '<div class="message__author">' + data['messages'][i]['author'] + '</div>' +
                        '<span class="message__content">' + data['messages'][i]['content'] + '</span>' +
                        '</div>';

                }
                chatArea.scrollTop = chatArea.scrollHeight;
                break;

            case 'new_message':
                chatArea.innerHTML += '<div class="chat__message">' +
                    '<div class="message__author">' + data['message']['author'] + '</div>' +
                    '<span class="message__content">' + data['message']['content'] + '</span>' +
                    '</div>';

                chatArea.scrollTop = chatArea.scrollHeight;
                break;

            case 'load_bfs':
                draw_my_bf(data['my_bf'])
                draw_enemy_bf(data['opponent_bf'])
                draw_ships(data['my_ships'], data['my_bf'])
                break;

            case 'load_my_bf':
                draw_my_bf(data['bf'])
                break;

            case 'load_opp_bf':
                draw_enemy_bf(data['bf'])
                break;

            case 'info_message':
                messages.innerHTML = data['message']
                break;

            case 'start_game':
                make_a_shot(data['opponent_field'])
                break;

            case 'end_game':
                alert("Game ended")
        }
    }

    function make_a_shot(field) {
        $(function () {
            $('.op_bf').mouseover(function () {
                this.style.backgroundColor = 'cornflowerblue';
            })
            $('.op_bf').off("mouseout").on("mouseout", function () {

                this.style.backgroundColor = '';
            })
            $('.op_bf').off("click").on("click", function () {
                let x = $(this).closest('tr').index();
                let y = $(this).index();

                switch (field[x][y]) {
                    case 'EMPTY_NOT_SHOTED':
                        field[x][y] = 'EMPTY_SHOTED';
                        switch_turn()
                        shot(field)
                        this.click = function () {
                        }
                        this.mouseover = function () {
                        }
                        this.mouseout = function () {
                        }
                        break;
                    case 'SHIP_NOT_SHOTED':
                        field[x][y] = 'SHIP_SHOTED';
                        shot(field)
                        break;
                }
            })
        })
    }

    function shot(op_bf) {
        ws.send(JSON.stringify({
            "commands": ["shot"],
            "op_bf": op_bf
        }))
    }

    function switch_turn() {

        ws.send(JSON.stringify({
            "commands": ["switch_turn"],
        }))
    }


    ws.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };


    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        ws.send(JSON.stringify({
            'message': message,
            'commands': ['new_message'],
        }));
        messageInputDom.value = '';
    };


    var script = document.createElement('script');
    script.src = 'https://code.jquery.com/jquery-3.4.1.min.js';
    script.type = 'text/javascript';
    document.getElementsByTagName('head')[0].appendChild(script);
</script>
<script src="{% static 'game/draw_game.js' %}"></script>
</body>
</html>